* {box-sizing: border-box;}

header {
  width: 100%;
  position: fixed;
  z-index: 2;
  box-shadow: -2px -2px 5px yellow, 2px 2px 5px yellow;
  left: 0;
  background-color: black;
  top: 0;}
img {
  object-fit: cover;
  width: 26%;
  height: 500px;
}
body {
  width: 100%;
  margin-left: 0;
}
nav {
  width: 100%;
  height:75px;
  display: flex;
  flex-wrap: wrap;
}
ul.LOGO {
  width: 20%;
}
img.img-logo {
  position: relative;
  width: 192px;
  height: 40px;
}
ul.elresto {
  padding-left: 0;
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-top: 25px;
}
div.generos a:hover {
  opacity: 0.8
}
div.ultimo,div.favoritos,  div.Populares, div.generos  {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
}
div.buscador {
      margin-top: -6px;
      position: relative;
}
div.ultimo a,div.favoritos a,  div.Populares a, div.generos a  { color: yellow;
}
div.ultimo a:hover {
opacity: 0.8
}

form {
  position: relative;
}
.barradebusqueda {height: 35px;
  font-family: 'Ropa Sans', sans-serif;
  text-align: left ;
  letter-spacing: 1px;
  border-radius: 50px;
  width: 250px;
  box-shadow: -2px -2px 5px lightblue, 2px 2px 5px lightblue;
  border: none;
}

button {
border: none;
position:absolute;
background: none;
top: -4%;
color: gray;
left: 88%;
height: 40px;
size: 40px;
}

.boton {
  position: absolute;
  top:-2px;
  left: 210px;
  color: lightgray;
  height: 40px;
  width:40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.favoritos a:hover  {
  opacity: 0.8
}
div.Populares a:hover {
  opacity: 0.8
}
section.todoelbody {
  height: 2100px;
  margin-top: 75px;
  z-index: 0;
  background-image: url("spacee.jpg");
  background-size: cover;
  margin-left: -10px;
}
div.menu {
  width: 90%;
  position: relative;
  margin: 0 auto;
  height: 92%;
  box-shadow: -2px -2px 5px lightblue, 2px 2px 5px lightblue;
  background-color: black;
  z-index: 0;
}
div.menu div ul div.derecha {
  position: absolute;
  top: 110px;
  right: 120px;
  border: inset;
}
div.menu div ul {
  position: relative;
}
div.menu div ul li p {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  margin-top: 2px;
  color: yellow;
}
footer {
  background-color: black;
  position: absolute;
  box-shadow: -2px -2px 5px yellow, 2px 2px 5px yellow;
  width: 100%;
  top: 2080px;
  left: 0;
  height: 150px;
  padding-right: 0;
}

footer h2 {
  color: yellow;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 20px;
}

img.tmdb { position: absolute;
  left: 80%;
  top: 22%;
  z-index: 5;
  height: 85px;
  width: 217px;}



  @media only screen and (max-width: 420px) {

    nav {
      width: 100%;
      height:150px;
      display: flex;
      flex-wrap: wrap;
    }

    img.img-logo {
      width: 125px;




    }

    div.generos {
    position: absolute;
    top: 46%;
    left: 11%;




    }

    div.favoritos {
  position: absolute;
  top: 46%;
  left: 54%;
    }

    div.login {
      position: absolute;
      top: 18%;
      left: 53.5%;
    }

    form.busqueda { position:relative;
      top: 79%;
      left: -12%;

      }


    .barradebusqueda {height: 29px;
      font-family: 'Ropa Sans', sans-serif;
      text-align: left ;
      letter-spacing: 1px;
      border-radius: 50px;
      width: 250px;
      box-shadow: -2px -2px 5px lightblue, 2px 2px 5px lightblue;
      border: none;}



      section.todoelbody {
       padding-top: 40px;


      }



        footer { background-color: black;
          position: absolute;
        box-shadow: -2px -2px 5px yellow, 2px 2px 5px yellow;
        width: 100%;
        top: 2083px;
        left: 0;
        padding-right: 0;
        height: 290px;
        }

        footer h2 {
         padding-top: 20px;


        }


        img.tmdb { position: absolute;
          left: 4%;
          top: 68%;
          z-index: 5;
          height: 85px;
          width: 217px;
        }

      }
