* {box-sizing: border-box;}
html {
  height: 100%;
  width: 100%;
}
header {
  width: 100%;
  position: fixed;
  z-index: 2;
  box-shadow: -2px -2px 5px yellow, 2px 2px 5px yellow;
  left: 0;
  background-color: black;
  top: 0;}

img {
  object-fit: cover;
  width: 192px;
  height:40px;


}

body {
  height: 100%;
  width: 100%;
  margin-left: 0;
}

nav {
  width: 100%;
  height:75px;
  display: flex;
  flex-wrap: wrap;
}

ul.LOGO {
  width: 20%;


}

img.img-logo { position: relative;

  width: 192px;
  height: 40px
  ;
}

ul.elresto {
  padding-left: 0;
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-top: 25px;
}


}

div.generos a:hover {

  opacity: 0.8
}


div.ultimo,div.favoritos,  div.Populares, div.generos  {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  margin-top: 2px;


}

div.buscador {
      margin-top: -6px;
      position: relative;
}

div.ultimo a,div.favoritos a,  div.Populares a, div.generos a  {
  color: yellow;
}
div.ultimo a:hover {
  opacity: 0.8
}
.barradebusqueda {
  height: 35px;
  font-family: 'Ropa Sans', sans-serif;
  text-align: left ;
  letter-spacing: 1px;
  border-radius: 50px;
  width: 250px;
  box-shadow: -2px -2px 5px lightblue, 2px 2px 5px lightblue;
  border: none;
}
.boton {
  position: absolute;
  top:-2px;
  left: 210px;
  color: lightgray;
  height: 40px;
  width:40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.favoritos a:hover  {
  opacity: 0.8
}
div.Populares a:hover {
  opacity: 0.8
}
section.todoelbody {
  height: 100%;
  margin-top: 75px;
  z-index: 0;
  background-image: url("../spacee.jpg");
  background-size: cover;
  margin-left: -10px;
}
div.menu div ul {
  padding-left: 0;
  overflow: hidden;
}
div.menu div ul li{
  width: 30%;
  float: left;
  margin-right: 3%;
  margin-left: 2%;
  height: 700px;
}
div.menu div ul li:nth-child(3n){
  margin-left: 0;
  margin-right: 2%;
}
div.menu div ul li:nth-child(2n){
  margin-left: 0;
}
div.menu div ul li a p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: yellow;
}
div.menu div ul li a img {
      width: 100%;
      height: 619px;
    }

div.menu {
  width: 90%;
  position: relative;
  margin: 0 auto;
  height: 92%;
  box-shadow: -2px -2px 5px lightblue, 2px 2px 5px lightblue;
  background-color: black;
  z-index: 0;
}
footer { background-color: black;
  position: absolute;
  box-shadow: -2px -2px 5px yellow, 2px 2px 5px yellow;
  width: 100%;
  left: 0;
  padding-right: 0;
  height: 150px;
}

footer h2 {
  color: yellow;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  padding-left: 20px;
  padding-top: 10px;
}

img.tmdb { position: absolute;
  left: 80%;
  top: 22%;
  z-index: 5;
  height: 85px;
  width: 217px;
}

h2.tituloPopulares{   font-size: 1.5em;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  margin-top: 20px;
  color: yellow;
  text-align: center;
  padding-top:20px
}
  h3{   font-size: 1em;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    margin-top: 20px;
    color: yellow;
    text-align: left;
    padding-top:20px;
    z-index: 1
}
h4{   font-size: 1em;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  margin-top: 20px;
  color: yellow;
  text-align: left;
  padding-top:20px;
  z-index: 1
}
